*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    width: 1000px;
    height: 800px;;
    margin: 0 auto;
    
}
h1,p{
    text-align: center;
}



.row{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    float:left

    
}


img{
    float: left;
    width: 100px;
    height: 50px;

}
.description{
    float: left;

}
.padre::after{
    content:'';
    display: table;
    clear: both;


}